<style>
    body {
        background-color: #f2f5fa;
    }

    .header {
        background-color: #ffffff;
        width: 100%;
        height: 40px;
        margin: -8px -8px;
        position: relative;
    }

    .bi-house-door {
        font-size: 25px;
        margin: 7px 10px;
        position: absolute;
    }

    .bi-search {
        font-size: 25px;
        margin: 7px 1000px;
        position: absolute;
    }

    input[type=search] {
        width: 75px;
        margin: 10px 1035px;
        position: absolute;
        border: none;
        outline: none;

    }

    .bi-globe {
        font-size: 25px;
        margin: 7px 1250px;
        position: absolute;
    }

    .bi-calendar {
        font-size: 25px;
        margin: 7px 1290px;
        position: absolute;
    }

    .bi-question-circle {
        font-size: 25px;
        margin: 7px 1330px;
        position: absolute;
    }

    .grid-container {
        margin: 15px 1px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 120px 120px 120px 120px;
        gap: 15px;
        background-color: #f2f5fa;
        padding: 15px;
        position: relative;
    }

    .grid-container>.first {
        /* margin: 20px 10px; */
        background-color: #ffffff;
        text-align: justify;
        padding: 18px 18px;
        font-size: 18px;
        font-weight: 1px;
        font-family: "Source Sans Pro", Arial, sans-serif;
    }

    .first>button {
        background-color: #0e8cfa;
        width: 60px;
        height: 35px;
        margin: 36px -180px;
        position: absolute;
        border-radius: 5px;
        border: none;
        color: #ffffff;
        cursor: pointer;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    button:hover {
        background-color: #0e45fa;
    }

    .second {
        /* margin: 50px 15px; */
        background-color: #ffffff;
        text-align: justify;
        padding: 18px 18px;
        font-size: 18px;
        font-family: "Source Sans Pro", Arial, sans-serif;

    }

    .second>button {
        background-color: #0e8cfa;
        width: 90px;
        height: 35px;
        margin: 36px -310px;
        position: absolute;
        border-radius: 5px;
        border: none;
        color: #ffffff;
        cursor: pointer;
        font-weight: lighter;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .second :hover {
        background-color: #0e45fa;
    }

    .bi-bookmark {
        font-size: 14px;
        margin: 0px 3px 0px;
        position: fixed;
    }

    .third {
        /* margin: 5px 15px; */
        background-color: #ffffff;
        text-align: justify;
        padding: 18px 18px;
        font-size: 18px;
        font-family: "Source Sans Pro", Arial, sans-serif;

    }

    .third>button {
        background-color: #6ebdfc;
        width: 90px;
        height: 35px;
        margin: 36px -255px;
        position: absolute;
        border-radius: 5px;
        border: none;
        color: #ffffff;
        cursor: pointer;
        font-weight: lighter;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .four {
        /* margin: 25px 15px; */
        background-color: #ffffff;
        text-align: justify;
        padding: 18px 18px;
        font-size: 18px;
        font-family: "Source Sans Pro", Arial, sans-serif;

    }

    .four>button {
        background-color: #409b04;
        width: 80px;
        height: 35px;
        margin: 36px -340px;
        position: absolute;
        border-radius: 5px;
        border: none;
        color: #ffffff;
        cursor: pointer;
        font-weight: lighter;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .four :hover {
        background-color: #df2b58;
    }


    .five {
        /* margin: 25px 15px; */
        background-color: #ffffff;
        text-align: justify;
        padding: 18px 18px;
        font-size: 18px;
        font-family: "Source Sans Pro", Arial, sans-serif;

    }

    .five>button {
        background-color: #0e8cfa;
        width: 90px;
        height: 35px;
        margin: 36px 0px 0px -296px;
        position: absolute;
        border-radius: 5px;
        border: none;
        color: #ffffff;
        cursor: pointer;
        font-weight: lighter;
        /* text-align: end ; */
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
.findsumbit{
    margin: -7px 0px 0px 7px !important;
    position: absolute !important;

}

    .five :hover {
        background-color: #0e45fa;
    }

    .bi-bookmark {
        font-size: 14px;
        margin: -7px 15px 0px;
        position: absolute;

    }

    .six {
        /* margin: 25px 15px; */
        background-color: #ffffff;
        text-align: justify;
        padding: 18px 18px;
        font-size: 18px;
        font-family: "Source Sans Pro", Arial, sans-serif;

    }

    .six>button {
        background-color: #ffbe26;
        width: 300px;
        height: 35px;
        margin: 36px -400px;
        position: absolute;
        border-radius: 5px;
        border: none;
        color: black;
        cursor: pointer;
        font-weight: lighter;
        /* text-align: end ; */
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }


    .six :hover {
        background-color: #ffb341;
    }

    .seven {
        /* margin: 25px 15px; */
        background-color: #ffffff;
        text-align: justify;
        padding: 18px 18px;
        font-size: 18px;
        font-family: "Source Sans Pro", Arial, sans-serif;

    }

    .seven>button {
        background-color: #5c7b8e;
        width: 90px;
        height: 35px;
        margin: 36px -210px;
        position: absolute;
        border-radius: 5px;
        border: none;
        color: #ffffff;
        cursor: pointer;
        font-weight: lighter;
        /* text-align: end ; */
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .bi-save {
        font-size: 14px;
        margin: 0px 3px 0px;
        position: absolute;

    }

    .seven :hover {
        background-color: #526c7c;
    }

    .eight {
        /* margin: 25px 15px; */
        background-color: #ffffff;
        text-align: justify;
        padding: 18px 18px;
        font-size: 18px;
        font-family: "Source Sans Pro", Arial, sans-serif;

    }

    .eight>button1 {
        background-color: #0e8cfa;
        width: 75px;
        height: 35px;
        margin: 36px -305px;
        position: absolute;
        border-radius: 17px;
        border: none;
        color: #ffffff;
        cursor: pointer;
        /* font-weight: lighter; */
        text-align:center;
        font-size: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    button1:hover {
        background-color: #0e45fa;
    }
    .eight>button2 {
        background-color: #d9452b;
        width: 90px;
        height: 35px;
        margin: 36px -220px;
        position: absolute;
        border-radius: 17px;
        border: none;
        color: #ffffff;
        cursor: pointer;
        font-weight: lighter;
        font-size: 15px;
        text-align: center ;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    button2:hover {
        background-color: #d12c0f;
    }
    .eight>button3 {
        background-color: #409b04;
        width: 90px;
        height: 35px;
        margin: 36px -120px;
        position: absolute;
        border-radius: 17px;
        border: none;
        color: #ffffff;
        cursor: pointer;
        font-weight: lighter;
        text-align: center ;
        font-size: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    button3:hover {
        background-color: #348002;
    }
    .eight>button4 {
        background-color: #ffbe26;
        width: 90px;
        height: 35px;
        margin: 36px -20px;
        position: absolute;
        border-radius: 17px;
        border: none;
        color: #ffffff;
        cursor: pointer;
        font-weight: lighter;
        text-align: center ;
        font-size: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    button4:hover {
        background-color: #ffb341;
    }
</style>