<style>
    body {
        background-color: #f0f2f5;
        /* margin: 250px 200px; */
    }
    a{
        text-decoration: none;
    }

    .div1 h1 {
        font-family: Arial, Helvetica, sans-serif;
        margin: 210px 180px;
        color: #1877f2;
        font-size: 55px;

    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        margin: -200px 180px;
        font-size: 28px;
    }

    p1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        left: 800px;
        top: 400px;
        position: relative;
    }

    .login {
        background-color: #ffffff;
        width: 400px;
        height: 350px;
        border-radius: 10px;
        margin-left: 760px;
        margin-top: -50px;
        position: absolute;
        /*doubt not moving */
        box-shadow: 4px 4px 10px 5px #e4e6e9;
    }

    input[type=email] {
        width: 340px;
        padding: 16px 10px;
        margin: 15px 20px;
        border: 2px solid #eff0f2;
        border-radius: 5px;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
    }

    input[type=password] {
        width: 340px;
        padding: 16px 10px;
        margin: -2px 19px;
        border: 2px solid #eff0f2;
        border-radius: 5px;
        /* display: inline-block; */
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
    }

    button {
        background-color: #1877f2;
        width: 363px;
        padding: 12px 15px;
        margin: 19px 20px;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: bold;
    }

    span.fp {
        /* text-align: center; */
        /* margin: 20px 20px; */
        /* color: #74adf7;
        font-weight: lighter; */

    }

    a {
        /* text-align: right; */
        margin: 30px 130px;
        font-family: Arial, Helvetica, sans-serif;
        color: #5b93dd;
        font-weight: lighter;
        font-size: 14px;
    }

    .li {
        border-bottom: 1px solid #d1d6db;
        width: 365px;
        /* position: absolute; */
        /* margin-bottom: 150px; */
        bottom: 180px;
        margin: 20px 18px;
        
    }

    button1 {
        background-color: #42b72a;
        width: 150px;
        padding: 14px 20px;

        margin-left: 95px;
        margin-top: -10px;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        font-weight: bold;

    }
</style>